body {
    background: url('appoint-min.jpg') no-repeat center center fixed !important;
    background-size: cover;
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: #007bff !important;
    padding: 1rem;
}

.navbar-brand {
    color: rgb(14, 13, 13) !important;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
}

.card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    border: none;
    padding: 20px;
    backdrop-filter: blur(5px);
}

.card-body {
    padding: 2rem;
}

h4 {
    color: #007bff;
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    transition: background 0.3s;
    font-size: 1.1rem;
    padding: 0.75rem;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #f8f9fa;
    color: #6c757d;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
}